*{
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
}
textarea, input{
  outline: none;
}
.mt-10{
  margin-top: 10px;
}
p{
  margin: 5px 0;
}
.app{
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
}
.button{
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  flex-shrink: 0;
  margin: 0 10px;
  cursor: pointer;
}
.showBox{
  flex: 1;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  height: 100%;
  padding: 10px;
  overflow: auto;
}
.showBox:hover{
  border: 1px solid rgb(64, 169, 255);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
  outline: 0;
}
.showBox-active{
  border: 1px solid rgb(64, 169, 255);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
  outline: 0;
}